@model GigHub.ViewModels.FollowingViewModel
@{
    ViewBag.Title = "Following";
}

<h1>@Model.Heading</h1>
<ul class="gigs voffset4">
    @foreach (var artist in Model.Followees)
    {
        <li>@artist.Name</li>
    }
</ul>
